<section>
  <script type='text/javascript'>
    $(document).ready(function(){
      $("#github").GitHubBadge({
        login: "presidentbeef",
        kind: "project",
        repo_name: "brakeman",
        include_github_logo: false,
        image_path: "",
        commit_count: "1",
        issue_count: "0",
        repo_count: "0"
      });
    });
  </script>
  <div id="github"></div>
  <a href="https://dl.circleci.com/status-badge/redirect/gh/presidentbeef/brakeman/tree/main"><img src="https://dl.circleci.com/status-badge/img/gh/presidentbeef/brakeman/tree/main.svg?style=svg" /></a>
</section>
