<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{{site.title}}{% if page.title %}: {{page.title}}{% endif %}</title>
  <meta name="description" content="Brakeman is a static analysis security vulnerability scanner for Ruby on Rails applications."/>

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="keywords" content="brakeman,ruby on rails,security,scanner,vulnerabilities,static analysis"/>

  <link rel="canonical" href="{{ site.url }}{{ page.url }}"/>
  <link href="{{ root_url }}/favicon.png" rel="shortcut icon" />
  <link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script src="{{ root_url }}/javascripts/main.js"></script>
  <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml"/>
  {% include custom/head.html %}
</head>
