---
layout: default
---

<div class="blog-index">
{% assign index = true %}
{% for post in paginator.posts %}
{% assign content = post.content %}
  <article>
    {% include article.html %}
  </article>
{% endfor %}
<nav role="pagination">
  <div>
    <a href="/blog/archives">Blog Archives</a>
  </div>
</nav>
{% if site.disqus_short_name %}
<script type="text/javascript">
    var disqus_shortname = '{{ site.disqus_short_name }}';
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{% endif %}
</div>
<aside role=sidebar>
  {% include custom/asides/about.html %}
  {% include custom/asides/github.html %}
  {% include asides/recent_posts.html %}
  {% include asides/twitter.html %}
</aside>
